@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600|Itim|Roboto+Mono");
@-webkit-keyframes txt_fly {
  0% {
    transform: translatex(-20%);
  }
  100% {
    transform: translatex(0%);
  }
}
@keyframes txt_fly {
  0% {
    transform: translatex(-20%);
  }
  100% {
    transform: translatex(0%);
  }
}
html {
  overflow-x: hidden;
  height: 100%;
}
html ::-webkit-scrollbar {
  width: 6px;
}
html ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
html ::-webkit-scrollbar-track {
  background: transparent;
}
html body {
  overflow-x: hidden;
  position: relative;
  font-size: 0.625em;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
html body.main_home {
  width: 100%;
  overflow: hidden;
  border: 10px solid #fff;
}
html body.main_home .wrap {
  width: 100vw;
  height: 100vh;
  background: url(../img/main_bg.jpg) no-repeat center center;
  background-size: cover;
  font-family: "Exo 2", sans-serif;
  border: none;
}
html body.main_home .wrap .footer {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  z-index: 9;
}
html body.main_home .wrap .footer .f_logo {
  text-align: center;
}
html body.main_home .wrap .footer .f_logo .cortez_logo {
  width: 116px;
  margin: 0 auto;
}
html body.main_home .wrap .footer .f_logo .nike_logo {
  width: 46px;
  margin: 2rem auto;
}
html body.main_home .wrap .footer .f_logo .arw_logo {
  display: none;
}

.wrap {
  font-family: "Itim", cursive;
  border: 10px solid #ffffff;
}
.wrap .header {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
  padding: 2rem;
  width: calc(100% - 26px);
  z-index: 10;
  position: fixed;
}
.wrap .header h1 a {
  width: 60px;
  height: 70px;
  background: url(../img/awlab_logo.png) 0 0;
  display: inline-block;
  background-size: 100%;
}
.wrap .header p {
  font-size: 2rem;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.wrap .header p a {
  transition: 0.3s;
}
.wrap ul.sns_link {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  height: 22px;
  margin-right: -1rem;
}
.wrap ul.sns_link li {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
}
.wrap ul.sns_link li a {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.wrap ul.sns_link li.sns_fb {
  background: url(../img/fb.png);
  width: 22px;
  height: 22px;
}
.wrap ul.sns_link li.sns_fb:hover {
  background: url(../img/fb_over.png);
}
.wrap ul.sns_link li.sns_insta {
  background: url(../img/insta.png);
  width: 22px;
  height: 22px;
  margin-left: 1rem;
}
.wrap ul.sns_link li.sns_insta:hover {
  background: url(../img/insta_over.png);
}
.wrap ul.sns_link li.link_shop {
  margin-left: 1rem;
}
.wrap ul.sns_link li.link_shop a {
  padding: 2px 10px 0;
  text-align: center;
  width: 0%;
  color: #fff;
  border-left: 1px solid #fff;
}
.wrap ul.sns_link li.link_shop a:hover {
  background: #fff;
  color: #002266;
  width: 100%;
  transition: 1s cubic-bezier(0.1);
  -webkit-transition: 1s cubic-bezier(0.1);
  -moz-transition: 1s cubic-bezier(0.1);
  -ms-transition: 1s cubic-bezier(0.1);
  -o-transition: 1s cubic-bezier(0.1);
}
.wrap .main .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 9;
}
.wrap .main .content .box_in {
  display: flex;
  flex-wrap: wrap;
  font-family: "Exo 2", sans-serif;
  width: 100%;
  height: 100%;
  padding: 0 15%;
  text-align: center;
  align-items: end;
}
.wrap .main .content .box_in .box {
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  flex-grow: 1;
}
.wrap .main .content .box_in .box a {
  display: inline-block;
  vertical-align: top;
  padding: 0 2rem;
}
.wrap .main .content .box_in .box a strong {
  font-size: 11vw;
  letter-spacing: -1vw;
}
.wrap .main .content .box_in .box a span.txt {
  font-size: 2vw;
  letter-spacing: -0.2vw;
  display: block;
  padding-bottom: 1rem;
}
.wrap .main .content .box_in .border_line {
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  width: 1px;
  height: 14vw;
  background: rgba(255, 255, 255, 0.6);
}
.wrap .main .content .box_in.on .box:not(.play),
.wrap .main .content .box_in.on .border_line {
  opacity: 0.15;
}
.wrap .main .box_bg {
  z-index: 1;
}
.wrap .main .box_bg .box_vdo {
  opacity: 0.3;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
.wrap .main .box_bg video {
  display: none;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
.wrap .main .box_bg .box_vdo.play {
  opacity: 1;
}
.wrap .main .box_bg .box_vdo.play video {
  display: block;
}
.wrap.sub01 {
  background: linear-gradient(-180deg, rgb(255, 235, 111) 1%, rgb(255, 235, 111) 14%, rgb(255, 119, 119) 39%);
}
.wrap.sub01 .sub_footer {
  background: #ffcc48;
}
.wrap.sub02 {
  background: linear-gradient(-180deg, #FEB1C8 0%, #FEB1C8 14%, #65A7FF 40%);
}
.wrap.sub02 .sub_footer {
  background: #eb97b4;
}
.wrap.sub03 {
  background: linear-gradient(-180deg, #C4B2F8 3%, #C4B2F7 14%, #FF9E9E 36%);
}
.wrap.sub03 .sub_footer {
  background: #b09bed;
}
.wrap.sub04 {
  background: linear-gradient(-180deg, rgb(72, 116, 220) 6%, rgb(73, 116, 220) 13%, rgb(149, 228, 239) 40%);
}
.wrap.sub04 .sub_footer {
  background: #4978dc;
}
.wrap.sub .main {
  position: relative;
  width: 100%;
  height: 100%;
}
.wrap.sub .main .logo {
  text-align: center;
  padding-top: 5rem;
}
.wrap.sub .main .logo h2 {
  font-family: "Exo 2", sans-serif;
}
.wrap.sub .main .logo h2 strong {
  font-size: 25vw;
  text-align: center;
  letter-spacing: -2vw;
  height: 100%;
}
.wrap.sub .main .logo h2 span {
  display: block;
  font-size: 3vw;
  letter-spacing: -0.1vw;
  line-height: 5vw;
  font-weight: 500;
}
.wrap.sub .main .logo .logo_img, .wrap.sub .main .logo .logo_img .cortez_logo {
  margin: 0 auto;
}
.wrap.sub .main .logo .logo_img .cortez_logo {
  width: 116px;
}
.wrap.sub .main .logo .logo_img .nike_logo {
  width: 45px;
  margin: 2rem auto;
}
.wrap.sub .main .logo .nav_title {
  position: fixed;
  right: 30px;
  top: 50%;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  font-family: "Exo 2", sans-serif;
}
.wrap.sub .main .logo .nav_title a {
  font-size: 22px;
  border-bottom: 2px solid #ffffff;
  position: relative;
  text-align: center;
  transition: all 1s;
}
.wrap.sub .main .logo .nav_title .nav_txt {
  display: none;
  -webkit-animation: txt_fly .6s ease-in-out;
  animation: txt_fly .6s ease-in-out;
  font-size: 16px;
}
.wrap.sub .main .logo .nav_title a:hover + .nav_txt {
  display: block;
  position: absolute;
  left: -56px;
  top: 5px;
}
.wrap.sub .main .section:not(.logo) {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  font-size: 2.2rem;
}
.wrap.sub .main .section:not(.logo) img,
.wrap.sub .main .section:not(.logo) video {
  width: 100%;
  transition: width 0.3s;
}
.wrap.sub .main .section:not(.logo) p, .wrap.sub .main .section:not(.logo) strong, .wrap.sub .main .section:not(.logo) span {
  transition: 0.3s ease-in-out;
}
.wrap.sub .main .section:not(.logo) > :first-child {
  margin-right: 4%;
}
.wrap.sub .main .section:not(.logo) .imgslide {
  width: 50%;
  position: relative;
}
.wrap.sub .main .section:not(.logo) .imgslide img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.wrap.sub .main .section:not(.logo) .imgslide .click_btn {
  display: block;
  background: #fff;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 13px;
  letter-spacing: -0.8px;
}
.wrap.sub .main .section:not(.logo) .imgslide .click_btn > a {
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 55px;
  border: 3px solid #353535;
  color: #000000;
}
.wrap.sub .main .section:not(.logo) .imgslide .left {
  right: auto;
  left: 20px;
}
.wrap.sub .main .section:not(.logo) .from_left {
  transform: translateX(-250%);
}
.wrap.sub .main .section:not(.logo) .from_right {
  transform: translatex(250%);
}
.wrap.sub .main .section:not(.logo) .vdoslide video {
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.wrap.sub .main .section:not(.logo) .w100 {
  width: 100%;
}
.wrap.sub .main .section:not(.logo) .section_txt {
  width: 40%;
  padding: 0 1%;
}
.wrap.sub .main .section:not(.logo) .section_txt p:after {
  content: "";
  display: block;
  background: url(../img/line.png) no-repeat;
  background-size: 100px 8px;
  width: 100px;
  height: 8px;
  margin: 20px 0px;
}
.wrap.sub .main .section.last {
  display: block;
  margin: 8rem auto 20rem auto;
}
.wrap.sub .main .section.last > :first-child {
  margin: 0 auto;
}
.wrap.sub .main .section.last > :first-child .line::after,
.wrap.sub .main .section.last > :first-child .line::before {
  content: "";
  display: block;
  background: url(../img/line.png) no-repeat;
  background-size: 100px 8px;
  width: 100px;
  height: 8px;
  margin: 20px 0px;
  background-position: center center;
  width: 100%;
  margin: 4vw auto;
}
.wrap.sub .main .section.last > :first-child .sns_title {
  font-size: 1.8rem;
}
.wrap.sub .main .section.last > :first-child .sns_link {
  justify-content: center;
  margin: 2rem 0;
}
.wrap.sub .sub_footer {
  max-width: 100%;
  padding: 10rem 10%;
  font-family: "Exo 2", sans-serif;
}
.wrap.sub .sub_footer .f_title {
  font-size: 2rem;
  margin-bottom: 6rem;
}
.wrap.sub .sub_footer .f_menu {
  display: flex;
  flex-wrap: wrap;
}
.wrap.sub .sub_footer .f_menu li {
  width: 25%;
  text-align: center;
  opacity: 0.4;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
}
.wrap.sub .sub_footer .f_menu li p {
  display: block;
  font-size: 10vw;
  letter-spacing: -0.8vw;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
}
.wrap.sub .sub_footer .f_menu li span {
  display: block;
  font-size: 1.6vw;
  letter-spacing: -0.1vw;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
}
.wrap.sub .sub_footer .f_menu li.on {
  color: #fff;
  opacity: 1;
}
.wrap.sub .sub_footer .f_menu > :hover {
  opacity: 1;
}

.loading_page {
  min-width: 100%;
  min-height: 100%;
}
.loading_page .loading_bg {
  width: 100%;
  height: 100%;
  background: #172750;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99;
}
.loading_page .loading_img {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  z-index: 999;
  display: none;
  transform: translate(-50%, -50%);
}
.loading_page .loading_img img:first-child {
  width: 90%;
  height: auto;
}
.loading_page .loading_img img:last-child {
  width: 50%;
  height: auto;
}

@media (max-width: 786px) {
  .wrap .header p {
    font-size: 0;
  }
  .wrap .header p a {
    display: block;
    background: url(../img/homeee.png) no-repeat center;
    background-size: 32px;
    width: 100px;
    height: 32px;
    margin: 1px auto;
    transition: 0.3s;
  }
  .wrap .header p > :hover {
    transform: translateY(-2px);
  }
  .wrap .main .content .box_in {
    display: block;
  }
  .wrap .main .content .box_in .box {
    width: 100%;
  }
  .wrap .main .content .box_in .box a strong {
    font-size: 7rem;
  }
  .wrap .main .content .box_in .border_line {
    width: 10rem;
    height: 1px;
    display: block;
    margin: 0 auto;
  }
  .wrap.sub .main .section:not(.logo) .imgslide {
    width: 100%;
  }
  .wrap.sub .main .section:not(.logo) .section_txt {
    width: 100%;
    font-size: 3.5vw;
    padding-top: 5%;
  }
  .wrap.sub .main .section:not(.logo) .section_txt strong {
    padding-bottom: 5%;
    display: block;
  }
  .wrap.sub .main .section:not(.logo) .order1 {
    order: 1;
  }
  .wrap.sub .main .section:not(.logo) .order2 {
    order: 2;
  }
  .wrap.sub .main .section:not(.logo) > :first-child {
    margin: 0;
  }
  .wrap.sub .sub_footer {
    padding: 5%;
  }
  .wrap.sub .sub_footer .f_menu li {
    display: block;
    width: 50%;
    height: auto;
    padding: 12.5% 0%;
    font-size: 70px;
    letter-spacing: -5px;
  }
  .wrap.sub .sub_footer .f_menu li:not(:nth-child(3), :nth-child(4)) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .wrap.sub .sub_footer .f_menu li:not(:nth-child(2), :nth-child(4)) {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}/*# sourceMappingURL=main copy.css.map */