@import "common.css";
@import "fonts.css";
html {
  width: 1080px;
  margin: 0 auto;
  overflow: scroll;
}

body.hidden {
  overflow: hidden;
}

.num_pin .inputwrapper {
  width: 534px;
  height: 80px;
  background: rgba(255, 255, 255, 0.3);
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  letter-spacing: -5px;
  text-align: center;
  font-size: 50px;
  color: #fff;
  margin: 0 auto;
  text-align: left;
  padding: 3px 25px;
  border: solid 1px #b0adad;
}

.c_tictoc {
  position: relative;
}
.c_tictoc::after {
  content: "";
  background: url(../images/c_ttcroc.svg) no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
}

.info_txt + .c_tictoc {
  margin-top: 85px;
}

.wrap {
  background: url(../images/main_bg02.svg) no-repeat center center;
  height: 1920px;
  color: #d3d3d3;
}
.wrap .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
.wrap .container .left_cont {
  width: 300px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}
.wrap .container .left_cont p {
  text-align: center;
}
.wrap .container .left_cont ul {
  width: 180px;
  margin: 0 auto;
}
.wrap .container .left_cont ul li {
  position: relative;
  color: #8a8a8a;
  padding: 50px 0 75px 0;
}
.wrap .container .left_cont ul li span {
  font-size: 24px;
  display: block;
}
.wrap .container .left_cont ul li p {
  font-size: 36px;
  padding-top: 10px;
}
.wrap .container .left_cont ul li:not(:last-child)::after {
  content: "";
  width: 32px;
  height: 20px;
  background: url(../images/icon/ic_arw_btm_fff.svg) no-repeat;
  opacity: 0.4;
  background-size: contain;
  display: block;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 0;
}
.wrap .container .left_cont ul li.on {
  color: #fff;
}
.wrap .container .left_cont ul li.on::after {
  background: url(../images/icon/ic_arw_btm_fff.svg) no-repeat;
  transform: translateX(-50%);
  opacity: 1;
}
.wrap .container .left_cont ul li:first-child {
  padding-top: 25px;
}
.wrap .container .right_cont {
  margin: -9px auto;
}
.wrap .container .right_cont .c_tictoc::after {
  width: 199px;
  height: 63px;
  top: -48px;
}
.wrap .container .right_cont .num_box {
  font-size: 0;
  width: 546px;
  margin: 25px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrap .container .right_cont .num_box .num {
  margin-bottom: 10px;
}
.wrap .btm_nav {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  bottom: 50px;
  padding: 0 80px;
  text-align: center;
  justify-content: space-between;
}
.wrap .btm_nav .btn_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap .btm_nav .btn_cont .btn.back_btn p::after {
  background: url(../images/icon/ic_back.svg) no-repeat 0 0;
}
.wrap .btm_nav .btn_cont .btn.call_btn p ::after {
  background: url(../images/icon/ic_call.svg) no-repeat 0 0;
}
.wrap .btm_nav .btn_cont .btn + .btn {
  margin-left: 30px;
}
.wrap .btm_nav .btn_cont .btn p {
  padding: 9px 0;
}
.wrap .btm_nav .btn_cont .btn p::after {
  width: 80px;
  content: "";
  display: block;
  background-size: 100%;
}
.wrap .btm_nav .logo {
  background: url(../images/logo_ttisland.svg) no-repeat;
  background-size: 100%;
  width: 186px;
  height: 72px;
  right: 0;
}/*# sourceMappingURL=style.css.map */